* {
    margin: 0;
    padding: 0;
}
.background {
    width: 100%;
    height: 100%;
    filter: blur(4px);
    background-color: #9929a3;
    position: fixed;
}
.outer {
    position: absolute;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.outer > .inner {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    position: fixed;
    display: flex;
    cursor: pointer;
    background-image: url("https://github.com/kubg-parliament/winpage/raw/master/assets/img/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    scale: 0.7;
}
